.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
}

.canvas-container {
  position: relative;
  width: 800px;
  height: 500px;
  border: 2px solid black;
  background-color: #F5EEDD;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas-buttons {
  justify-content: center;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

button.green {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button.rm {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button.blue {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}